<div class="VuePagination">
  <ul v-show="totalPages>1"
  class="pagination VuePagination__pagination">

  <li class="VuePagination__pagination-item VuePagination__pagination-item-prev-chunk"
  v-bind:class="allowedChunk(-1)?'':'disabled'">
  <a href="javascript:void(0);"
  @click="prevChunk()">&lt;&lt;</a>
</li>


<li class="VuePagination__pagination-item VuePagination__pagination-item-prev-page"
v-bind:class="allowedPage(page-1)?'':'disabled'">
<a href="javascript:void(0);"
@click="prev()">&lt;</a>
</li>

<li class="VuePagination__pagination-item"
v-for="page in pages"
v-bind:class="isActive(page)?'active':''">
<a href="javascript:void(0);"
@click="setPage(page)">{{page}}</a>
</li>

<li class="VuePagination__pagination-item VuePagination__pagination-item-next-page"
v-bind:class="allowedPage(page + 1)?'':'disabled'">
<a href="javascript:void(0);"
@click="next()">&gt;</a>
</li>

<li class="VuePagination__pagination-item VuePagination__pagination-item-next-chunk"
v-bind:class="allowedChunk(1)?'':'disabled'">
<a href="javascript:void(0);"
@click="nextChunk()">&gt;&gt;</a>
</li>
</ul>

<p v-if="records>0"
class="VuePagination__count">{{count}}</p>
</div>
